body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #7c0000;
    color: #ffffff;
}

p {
    font-size: 1.2em;
}

ul{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

hr {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
}

#navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0c0c;
    box-shadow: #000000 5px 5px;
}

.header {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    padding: 1em 3em;
    background-color: #0c0c0c;
    box-shadow: #000000 5px 5px;
}

/* ABOUT */
#about {
    margin-top: 5em;
    text-align: center;
    background-color: #7c0000;
}

#about-header {
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 2px 0px #0c0c0c;
}

#about > .jumbotron {
    background-color: #7c0000;
}

.profile {
    border-radius: 50%;
    margin-bottom: 2em;
}

/* SKILLS */
#skills {
    margin-top: 3em;
    font-size: 1.2em;
    text-align: center;
}

#skills > .row {
    margin: 0 .25em;
    padding: 3em 0;
}


.skills-section {
    background-color: #d8d4d4;
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 15px;
    box-shadow: 10px 10px;
    margin-top: 1em;
}

.img-skills {
    box-shadow: #000000 10px 10px;
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 600px;
    margin-top: 1em;
}

/* PROJECTS */
#projects {
    margin-top: 3em;
    text-align: center;
}

#projects > .container-fluid {
    background-color: #d8d4d4;
    color: black;
    padding: 2em;
    margin-bottom: 3em;
    box-shadow: #000000 10px 10px;
}

.img-projects {
    box-shadow: #000000 10px 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
    max-height: 1000px;
    max-width: 1000px;
}

/* CONTACT */
#contact {
    background-color: #0c0c0c;
    text-align: center;
    padding: 5em;
    margin-bottom: 0;
    margin-top: 3em;
}

.contact-button {
    color: white;
}